body {
	background: rgb(85, 144, 189);
	background: linear-gradient(
		90deg,
		rgba(85, 144, 189, 1) 0%,
		rgba(108, 183, 240, 1) 54%,
		rgba(182, 216, 242, 1) 82%
	);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Oswald', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

.list-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-list {
	width: 40%;
}

.card:hover {
	background-color: #ccf5ff;
	cursor: pointer;
}

@media only screen and (min-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
